body{
    background-color: rgba(104, 247, 255, 0.507);
}
.navbar {
    /* background: rgba(0, 0, 0, 0.321) url('img/nav.gif'); */
    background-color: rgb(29, 29, 27);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 1;
    height: 15px;
    
}
.burger {
    position: fixed;
    top: 4px;
    right: 45px;
    z-index: 2;
}
.line {
    background-color: white;
    border-radius: 100px;
    width: 27px;
    margin: 5px 3px;
    padding: 3px;
    box-shadow: 0px 0px 5px rgb(4, 4, 4);
}
.heading{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 1px rgb(252, 249, 249);
    position: fixed;
    font-size: 22px;
    top: -10px;
    left: 130px;
    z-index: 2;
}
.lbl{
    position: relative;
    top: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}
.frm{
    text-align: center;
    font-size: 20px;
}
.inp{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
}
.msg{
    font-size: 15px;
    color: red;
    position: relative;
    left: 30px;
}
.btn{
    position: relative;
    left: 20px;
    width:250px;
    height: 40px;
    background-color: rgba(83, 255, 74, 0.627);
    font-size: large;
    border-radius: 15px;
 }