body{
    background: linear-gradient(53deg, rgba(2,0,36,1) 0%, rgba(10,148,100,1) 47%, rgba(0,212,255,1) 100%);
}
.navbar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.466);
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    align-items: center;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    height: 10px;
    padding: 15px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 1;
    height: 15px;
    
}
.burger {
    position: fixed;
    top: 4px;
    right: 45px;
    z-index: 2;
}
.line {
    background-color: white;
    border-radius: 100px;
    width: 27px;
    margin: 5px 3px;
    padding: 3px;
    box-shadow: 0px 0px 5px rgb(4, 4, 4);
}
.heading{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 1px rgb(252, 249, 249);
    position: fixed;
    font-size: 22px;
    top: -10px;
    left: 130px;
    z-index: 2;
}
.lbl{
    color:rgb(0, 0, 0);
    position: relative;
    top: 20px;
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
    
}
.frm{
    text-align: center;
    font-size: 25px;
    font-family: monospace;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px rgb(255, 255, 255);
}
.inp{
    
    font-size: 25px;
    font-weight: bold;
    width: 360px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    display: flex;
    box-shadow: 0px 0px 5px rgb(255, 255, 255);
    
}
.msg{
    font-size: 15px;
    color: red;
    position: relative;
    background-color: white;
}
.btn{
    position: relative;
    left: 20px;
    width:250px;
    height: 40px;
    background-color: rgb(251, 255, 0);
    font-size: large;
    border-radius: 15px;
 }
 .button{
    position: fixed;
    top:620px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.645);
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: 5px 5px 5px 5px;
    backdrop-filter: blur(5px);
 }
 .break{
    background-color: rgba(0, 0, 0, 0.496);
    height: 1px;
    width: 95vw;
}
.prctxt{
    color: greenyellow;
}